/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
  text-align: center;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */


.menu {
  margin: 0;

}
.menicko {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 60%;
  margin-left: 10%;
  padding: 0;
  color: #25133d;
}

li {
  list-style: none;
  margin-left: 0;
  color: #25133d;
}

.logo {
  font-weight: 700;
  padding: 30px 20px;

}

.odkaz a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #25133d;
  padding: 30px 20px;
}

.odkaz a:active,
.odkaz a:focus,
.odkaz a:hover {
  color: #e5e5e5;
  background-color: #25133d;
}

.banner {
  background-image: url(./images/pozadi.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 40px;
  position: relative;
}

.text {
  text-align: left ;
  color: #e5e5e5;
  margin:50px 0;
}

h1 {
  font-size: 90px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.text p {
  font-weight: 300;
  font-size: 36px;
  margin: 20px 0 40px 0;
}

.butony {
  display: flex;
  flex-direction: row;
}

.butony a {
  padding: 15px 30px;
  color: #e5e5e5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  margin-right: 20px;
}

.butony a:active,
.butony a:focus,
.butony a:hover {
  background-color: #48418e;
}

#tlapka {
  position: absolute;
  right: 0px;
  bottom: 0px;
}


.sloupce_text {
  display: flex;
  flex-direction: row;
  margin: 60px 40px 80px 40px;
  justify-content: space-between;
}

.sloupec {
  flex-basis: calc((100% - 80px)/3);
}

.sloupec h2 {
  font-size: 20px;
  font-weight: 700;
  color: #48418e;

}
.sloupec img {
  max-width: 25%;
}

footer {
  background-color: #25133d;
  color: #e5e5e5;
  padding: 16px;
}

footer p {
  margin: 0;
}